* {
    font-size: 16px;
}

body {
    font-family: Montserrat, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6em;
}

/* Inicio header (parar todas las páginas)*/

header {
    height: fit-content;
    background-color: #333;
    color: white;
    padding: 2rem 0;
    box-shadow: 2px 2px 20px black;
}

.link-header {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: all 0.4s;
}

.link-header:hover {
    color: rgb(204, 46, 67);
    font-size: 1.35rem;
}

.ul-header {
    list-style: none;
}

.ul-header li {
    padding: 0 1rem;
    display: inline-block;
}

.container-header {
    height: 100%;
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
}

.logo {
    height: 100px;
    transition: all 0.5s;
}

.logo:hover {
    height: 120px;
}

/* cierre header */

/* media queries */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
