* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    font-family: Montserrat, Tahoma, sans-serif;
}

body {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6em;
}

/* Inicio header (parar todas las páginas)*/

header {
    z-index: 1000;
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #333;
    color: white;
    padding: 2rem 0;
    box-shadow: 2px 2px 20px black;
}

.link-header {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    transition: all 0.4s;
}

.link-header:hover {
    color: rgb(197, 122, 68);
}

.ul-header {
    list-style: none;
}

.ul-header li {
    padding: 0 1rem;
    display: inline-block;
}

.container-header {
    height: 100%;
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
}

.logo {
    height: 100px;
    transition: all 0.5s;
}

.logo:hover {
    height: 120px;
}

/* cierre header */

/* apertura menu mobile */

#nav-mobile {
    height: 10%;
    width: 100%;
    position: relative;
    z-index: 999;
    background-color: #333;
    display: none;
    padding: 1% 17% 1% 5%;
}

.nav-menu {
    display: none;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
}

.nav-menu li {
    padding: 0.5rem;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-input {
    display: none;
}

.nav-input:checked + .nav-menu {
    display: block;
}

/* cierre menu mobile */

/* apertura nav izquierdo */

.sticky {
    position: sticky;
    top: 1%;
}

.nav-secciones {
    text-align: center;
    margin: 3% 6%;
    padding: 2%;
    box-shadow: 0 0 10px 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.704);
}

.nav-secciones-ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: auto;
}

.nav-secciones-li {
    margin-bottom: 1rem;
}

.nav-secciones-enlace {
    color: white;
    font-size: 1.2rem;
    transition: all 0.4s;
    text-decoration: none;
}

.nav-secciones-enlace:hover {
    color: rgb(251, 207, 127);
    text-decoration: underline;
}

.nav-subsecciones-ul {
    padding: 0;
    color: white;
    list-style-type: none;
    padding-top: 0.5rem;
}

.nav-subsecciones-li {
    padding-top: 0.5rem;
}

.nav-subsecciones-enlace {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: color 0.4s;
}

.nav-subsecciones-enlace:hover {
    color: rgb(251, 207, 127);
}

.enlaces-inferior-li:hover {
    color: rgb(251, 207, 127);
}

/* nav izquierdo cierre */

/* apertura estructura main */

.cuerpo {
    position: relative;
    z-index: 500;
    box-shadow: 0 -20px 20px 1px;
    background-color: rgb(255, 247, 233);
}

/*cierre estructura main */

/* apertura pagina de piezas */

/* slider */

.espacio-slider {
    padding: 1rem;
    padding-bottom: 0;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.container-all {
    position: relative;
    margin: 2rem;
    max-width: 400px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

#cabecera-slider {
    margin-bottom: 0.5rem;
    padding: 0;
    text-align: center;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    margin-bottom: 1.5rem;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 30px;
    height: 52px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 15px 12px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="slide-1"]:checked ~ .slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="slide-1"]:checked ~ .pagination .pagination-item[for="slide-1"] {
    background-color: rgba(0, 0, 0, 0.7);
}

input[id="slide-2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="slide-2"]:checked ~ .pagination .pagination-item[for="slide-2"] {
    background-color: rgba(0, 0, 0, 0.7);
}

input[id="slide-3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="slide-3"]:checked ~ .pagination .pagination-item[for="slide-3"] {
    background-color: rgba(0, 0, 0, 0.7);
}

input[id="slide-4"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="slide-4"]:checked ~ .pagination .pagination-item[for="slide-4"] {
    background-color: rgba(0, 0, 0, 0.7);
}

input[id="slide-5"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="slide-5"]:checked ~ .pagination .pagination-item[for="slide-5"] {
    background-color: rgba(0, 0, 0, 0.7);
}

input[id="slide-6"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 5), 0, 0);
}

input[id="slide-6"]:checked ~ .pagination .pagination-item[for="slide-6"] {
    background-color: rgba(0, 0, 0, 0.7);
}

/* cierre slider */

.texto-piezas {
    margin-top: 1.5rem;
    flex-grow: 0;
    flex-basis: 80rem;
}

/* cierre pagina de piezas */

/* apertura pagina de contacto */

#main-contacto {
    height: 800px;
}

.contenedor-contacto {
    height: 100%;
}

.form-title {
    font-weight: normal;
    color: #f0f4f7;
    padding: 0.9rem 0;
}

.form {
    background: rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 0.2rem 2.1rem 2rem 2.1rem;
    border-radius: 3px;
}

.form-label {
    display: block;
    color: rgb(251, 207, 127);
    font-size: 1rem;
    position: relative;
}

.form a {
    text-decoration: none;
}

.form-input,
.form-textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border-radius: 2px;
    font-size: 14px;
    color: white;
}

.form-textarea {
    resize: vertical;
    max-height: 100px;
    min-height: 50px;
}

.btn-submit {
    width: 100%;
    outline: none;
    background: rgb(255, 193, 79);
    font-size: 16px;
    border: none;
    color: black;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-submit:hover {
    background: rgb(255, 211, 129);
}

/* cierre pagina de contacto */

/* estilos de imagen */

.piezas-img {
    max-width: 100%;
}

.container-img {
    text-align: center;
    margin-bottom: 0.3rem;
}

.img-index {
    width: 80%;
    max-width: 100%;
    height: auto;
    max-height: 600px;
    margin: 0 auto;
    display: inline-block;
    border: #333 2px solid;
    box-shadow: 0 0 20px 3spx;
}

.background-chess {
    background-image: url(../assets/images/fondo-cuadricula.jpg);
    background-repeat: repeat;
}

/* cierre estilos de imagen */

/* estilos para textos y headliners */

.encabezado {
    margin: 0.5rem 0.8rem 0.5rem 0.8rem;
}

#titulo {
    font-size: 3rem;
}

.subtitulo {
    font-size: 1.8rem;
    line-height: 2rem;
}

.sub-subtitulo {
    font-size: 1.4rem;
    margin: 1rem;
}

.cuerpo p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.8rem 0.8rem;
    font-family: Roboto;
}

.temas-link {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.temas-link:hover {
    color: rgb(88, 88, 88);
}

.pie-foto {
    margin: 0 auto;
    font-weight: 300;
    font-size: 1rem;
    border-left: #cc2e43 solid 1px;
    padding-left: 1rem;
    width: 80%;
}

.padding-texto {
    padding: 0 6rem;
}

/* cierre estilos textos y headliners */

/* footer para todas las páginas*/

footer {
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background-color: rgb(117, 69, 36);
    box-shadow: inset 0 0 30px 5px;
}

.container__footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo {
    text-align: center;
}

.box__footer .logo img {
    width: 180px;
    transition: all 0.6s;
}

.box__footer .logo img:hover {
    width: 240px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover {
    color: rgb(251, 207, 127);
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: white;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: white;
}

/* cierre footer */

/* media queries */

@media screen and (max-width: 1024px) {
    .nav-subsecciones-ul {
        display: none;
    }

    .temas-link {
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    .quitar {
        display: none;
    }

    .espacio-slider {
        display: block;
        text-align: center;
    }

    .container-all {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .nav-secciones-enlace {
        font-size: 1rem;
    }
    .nav-secciones {
        display: none;
    }

    #nav-mobile {
        display: block;
    }

    header {
        display: none;
    }
}

@media screen and (max-width: 664px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
